@charset "utf-8";



/* basic css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {margin: 0; padding: 0; border: 0;}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {display: block;}
html, body { height:auto;}
body {font-size: 18px; font-family: NotoSansCJKkr-Light, dotum, sans-serif;  color:#4c4c4c; line-height:1.6; letter-spacing: -0.5px; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
a:hover { color: inherit; text-decoration: none; }
a:active { color: inherit; text-decoration: none; }
a:focus { color: inherit; text-decoration: none; }
select, input, textarea {font-size: 100%;vertical-align: middle ; font-family: NotoSansCJKkr-Light, dotum, sans-serif;}
input {margin: 0;padding: 0;}
ol, ul {list-style: none;}
label {cursor: pointer;}
legend, caption {width: 0;height: 0; visibility: hidden; font-size: 0;line-height: 0;}
button {cursor: pointer;}
button:focus {outline: 1px dotted;}
img {vertical-align: top;}
table {}

.hidden {position: absolute;width: 0;height: 0;visibility: hidden;font-size: 0;line-height: 0; top:-9999px}



input[type="text"] {box-sizing:border-box; -webkit-appearance:none;}
input:-ms-input-placeholder {color:#808080}
input::-webkit-input-placeholder {color:#808080}
input::-moz-placeholder {color:#808080}
input::-moz-placeholder {color:#808080}
textarea {}

html, body {height:auto; -ms-overflow-style: none;}

::-webkit-scrollbar {

display:none;

}

/* layout*/


header { position: fixed; width:100%; z-index:99999; top: 0; }


.navi { position: absolute;  width: 100%; height: 120px; right: 0px; top: 0px; z-index: 9999; border: none; background: none; transition: 0.3s, top 0.6s , height 0.6s; background: none; border: none; 
/*background: #fff; border-bottom: 1px solid #ddd; transition: background 0.5s, box-shadow 0.5s;*/
}

body.main .navi { animation: main_txt 1.0s 3.8s both; }

/*body.main .navi { background: none; border-bottom: 1px solid transparent; }
body.main .navi:before { content:''; position: absolute; left: 0; bottom: 0; width: calc(100% - 80px); height: 1px; background-color: #fff; }*/

.navi.wh { background-color: #fff; border-bottom: 1px solid #ddd; }

/*#logo { position: fixed; top: 50px; margin: auto; left: 100px; z-index: 99999999; transition: 0.3s; display: flex; justify-content: center; align-items: center; animation: main_txt 1.0s 3.8s both; }*/
#logo { position: absolute; top: 0; bottom: 0; margin: auto; left: 5.2%; z-index: 99999999; transition: 0.3s, left 0.8s; display: flex; justify-content: center; align-items: center; }
#logo>a { display: block; width: 212px; height: 27px; display:inline-block; left:0px; background: url(../img/common/logo2.png) left center no-repeat; text-indent:-9999px; transition: 0.5s; }
#logo span { font-family: 'GG'; font-size: 14.5px; line-height: 100%; color: #4f372b; font-weight: 900; padding-left: 15px; margin-left: 15px; position: relative; transition: 0.5s; }
#logo span:before { content:''; width: 1px; height: 15px; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; background-color: #4f372b; transition: 0.5s; }


.banner_gd { position: fixed; left: 5.2%; top: 0; z-index: 999; transition: 0.8s; display: none; }
.banner_gd.active3 { opacity: 0; left: -40px; }
.navi.active3 #logo { left: 5.2%; }

/*body.main #logo { left: calc(5.2% + 120px); }*/
body.main #logo>a { background: url(../img/common/logo2.png) left center no-repeat; }
.navi.wh #logo>a { background: url(../img/common/logo.png) left center no-repeat; }
.navi.active #logo>a { background: url(../img/common/logo.png) left center no-repeat; }
body.main .navi.black #logo>a { background: url(../img/common/logo.png) left center no-repeat; }
body.main .banner_gd { display: block; }

.navi.active { height: 100px; background-color: #fff; border-bottom: 1px solid #ddd; }
/*.navi.active2 { background-color: #fff; border-bottom: 1px solid #ddd; }*/
/*.navi.pop { top: 60px; }*/


/*body.main .navi.active { background-color: #fff; border-bottom: 1px solid #ddd; }
body.main .navi.active2 { background-color: #fff; border-bottom: 1px solid #ddd; }*/


#logo.active { top: 37px; }
#logo.active a { background: url(../img/common/logo2.png) center no-repeat; }
#logo.active21 span { color: #fff; }
#logo.active21>a { background: url(../img/common/logo2.png) center no-repeat; }
#logo.active21 span:before { background-color: #fff; }

/**/

.right_quick { position: fixed; width: 35px; height: 420px; right: 50px; top: 0; bottom: 0; margin: auto; z-index: 999; display: none; }
.right_quick ul { width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column; }
.right_quick ul li { width: 35px; height: 35px; cursor: pointer; position: relative; }
.right_quick ul li:before { content:''; width: 5px; height: 5px; border-radius: 100%; background-color: #000; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 9; transition: 0.4s; }
.right_quick ul li:after { content:''; width: 5px; height: 5px; border-radius: 100%; background-color: #000; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; z-index: 1; opacity: 0.1; transition: 0.4s; }
.right_quick ul li.selected:after { width: 35px; height: 35px; }
.right_quick.white ul li:before { background-color: #fff; }
.right_quick.white ul li:after { background-color: #fff; }

/**/

.banner_wrap { width: 100%; height: 60px; position: fixed; left: 0; top: -60px; z-index: 99999; background: url(../img/common/banner_bg.jpg) left top no-repeat; background-size: cover; display: flex; justify-content: center; align-items: center; transition: 0.6s; display: none; }
.banner_wrap>div { width: 90%; max-width: 1300px; }
.banner_wrap ul { width: 100%; display: flex; justify-content: flex-start; align-items: center; color: #7d695f; position: relative; }
.banner_wrap ul li { }
.banner_wrap ul li a { display: flex; align-items: center; }
.banner_wrap ul li h2 { font-family: 'Futura Std', sans-serif; font-size: 26px; line-height: 100%; font-weight: 600; position: relative; padding-right: 15px; margin-right: 0px; letter-spacing: 0; }
.banner_wrap ul li h2:after { content:''; width: 1px; height: 17px; background-color: #7d695f; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; display: none; }
.banner_wrap ul li p { font-size: 13px; line-height: 100%; margin-right: 50px; }
.banner_wrap ul li h5 { font-size: 12px; line-height: 100%; margin-right: 28px; }
.banner_wrap ul li img { margin-right: 10px; position: relative; top: -1px; }
.banner_close { display: flex; align-items: center; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; color: #fff; opacity: 0.7; }
.banner_close h6 { font-family: 'Futura Std', sans-serif; font-size: 12px; line-height: 100%; letter-spacing: 0; font-weight: 500; }
.banner_close>div { width: 28px; height: 28px; position: relative; margin-left: 12px; }
.banner_close>div:before { content:''; width: 1px; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: #fff; transform: rotate(-45deg); }
.banner_close>div:after { content:''; width: 1px; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: #fff; transform: rotate(45deg); }

.banner_wrap.pop { top: 0; }

/**/

.click_box { width: 73px; height: 73px; position: fixed; z-index: 9999; right: 80px; bottom: 90px; background-color: #4f372b; border-radius: 100%; display: flex; justify-content: center; align-items: center; display: none; }
/*body.main .click_box { animation: main_txt 1.0s 3.8s both; display: flex; }*/
.click_box:after { content:''; width: 170%; height: 170%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background-color: #4f375b; opacity: 0.2; z-index: -1; border-radius: 100%; animation: click_bg 4s 0s infinite; }
.click_box p { font-size: 12px; line-height: 100%; color: #fff; letter-spacing: 0; }
/*.click_box>div { position: absolute; left: -60px; top: -33px; background-color: #fff; font-size: 12px; line-height: 100%; color: #4f375b; padding: 9px 18px 10px; border-radius: 30px; font-weight: 500; }*/
.click_box>div { position: absolute; left: -60px; top: -33px; z-index: 9; }
.click_box>div>h5 { width: 100%; text-align: center; font-size: 12px; line-height: 30px; color: #4f375b; font-weight: 500; position: absolute; left: 0; top: 0; z-index: 9; }
.click_box>div>img { position: relative; }

.click_box ul { width: 500%; display: flex; justify-content: flex-start; align-items: center; position: absolute; left: -470%; top: 0; bottom: 0; margin: auto; animation: click_box 0.4s 0s both; display: none; }
.click_box ul li { }
.click_box ul li a { display: flex; display: flex; justify-content: flex-start; align-items: center; }
.click_box ul li h5 { font-size: 12px; line-height: 100%; margin-right: 28px; }
.click_box ul li img { margin-right: 10px; }

@keyframes click_bg {
	0% { width: 170%; height: 170%; }
	10% { width: 170%; height: 170%; }
	50% { width: 100%; height: 100%; }
	90% { width: 170%; height: 170%; }
	100% { width: 170%; height: 170%; }
}
@keyframes click_box {
	from { transform: translateX(35px); opacity: 0; }
	to {  }
}

/**/

.register_box { width: 110px; height: 110px; border-radius: 100%; position: fixed; right: 35px; bottom: 50px; margin: auto; z-index: 999; transition: 0.5s; animation: 22scroll_txt 1.0s 3.8s both; }
.register_txt { width: 67px; height: 67px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: flex; justify-content: center; align-items: center; border: 1px solid #4f372b; box-sizing: border-box; border-radius: 100%; }
.register_txt p { font-size: 12px; line-height: 100%; color: #4f372b; text-transform: uppercase; text-align: center; font-weight: 600; letter-spacing: -1px; }
.register_txt>img { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transition: 0.5s; }
.register_bg { width: 110px; height: 110px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transition: 0.5s; } 
.register_bg:after { content:''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(../img/common/guest_bg.png) center no-repeat; background-size: cover; animation: register_bg 14s 0s linear infinite; }

@keyframes register_bg {
	from { transform: rotate(-180deg); }
	to {  }
}


.register_box:hover .register_txt>img { opacity: 0; }
.register_box:hover .register_bg { opacity: 0; }

/**/

.main_scroll_box { width: 50px; height: 196px; position: absolute; left: 35px; top: 0; bottom: 0; margin: auto; text-align: center; z-index: 999; opacity: 1; transition: 0.8s 0s; transform: translateX(0); animation: scroll_txt 1.0s 3.8s both; }
.main_scroll { width: 13px; height: 83px; margin: auto; margin-top: 30px; position: relative; overflow: hidden; transform: translateX(0px); }
.main_scroll span { position: absolute; left: 0; right: 0; margin: auto; top: -100%; width: 1px; height: 100%; background-color: #4f372b; }
.main_scroll:after { position: absolute; content:''; width: 8px; height: 8px; border-left: 1px solid #4f372b; border-bottom: 1px solid #4f372b; transform: rotate(-45deg); left: 0; bottom: 2px; right: 0; margin: auto; }
.scroll_circle { content:''; position: absolute; left: 0; right: 0; bottom: -20px; margin: auto; width: 50px; height: 50px; z-index: -1; }
.scroll_circle span { content:''; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; border: 1px solid #4f372b; width: 100%; height: 100%; border-radius: 100%; box-sizing: border-box; }

.main_mouse { position: absolute; left: 35px; height: 200px; top: 0; bottom: 0; margin: auto; z-index: 90; color: #fff; text-align: center; transition: 1.0s; animation: scroll_txt 1.0s 3.8s both; }
.main_mouse>div { width: 23px; height: 40px; border-radius: 20px; border: 1px solid #4f372b; position: relative; margin: auto; margin-top: 15px; transition: 1.0s; }
.main_mouse>div span { content:''; width: 5px; height: 5px; position: absolute; left: 0; right: 0; margin: auto; top: 20%; background-color: #4f372b; border-radius: 100%; }
.main_mouse>img { margin-top: 18px; transition: 1.0s; }

.main_mouse.active3>div { opacity: 0; }
.main_mouse.active3>img { opacity: 0; }

/**/


.gnb { position:absolute; left: 50%; transform: translate(-50%); z-index:2; overflow:hidden; height: 100%; letter-spacing:0; z-index: 99; transition: 0.3s; }
.gnb>ul>li { position:relative; float:left; text-align:center; margin: 0 10px; }

.navi .depth1 { font-family: 'Noto Sans KR', sans-serif; position: relative; display: block; color: #fff; font-size: 18px; font-weight: 400; letter-spacing: 0px; line-height: 120px; margin: 0px; padding: 0px 15px; transition: 0.3s; text-transform: uppercase; }
.gnb>ul>li:hover>a { color: #000 !important; }
.gnb>ul>li b { font-family: 'Noto Sans KR', sans-serif; font-weight: 500; }
.gnb>ul>li>ul { display: block; margin-top: 16px; opacity: 0; transform: translateY(20px); }
.gnb>ul>li>ul>li { float: none; height: 32px; width: auto; text-transform: uppercase; }
.gnb>ul>li>ul>li>a { font-size: 14px; color: #262626; font-weight: 500; letter-spacing: -0.7px; }
.gnb>ul>li>ul>li>a:hover { color: #000; }
.gnb .line { position: absolute; display: block; bottom: 20px; height: 2px; width: 0%; background: #000; left: 0; right: 0; margin: auto; z-index:-99; transition: 0.35s; }
.navi-bg { position: absolute; display: block; width: 100%; height: 0px; left: 0; top: 121px; z-index:1; overflow: hidden; transition: 0.3s; }
.navi-bg .white-bg { width:100%; height: 210px; background:#fff; border-bottom:1px solid #dedede; }

.navi.active .navi-bg { top: 101px; transition: 0.3s; }
.navi.active .gnb .line { bottom: 25px; }

.navi.active .gnb .depth1 { color: #262626; line-height: 100px; transition: 0.3s; }
.navi.active2 .gnb .depth1 { color: #262626; }

body.main .navi .depth1 { color: #fff; }
body.main .navi.black .depth1 { color: #333; }
.navi.wh .depth1 { color: #333 !important; }
.navi.wh .gnb>ul>li:hover>a { color: #000 !important; }

.right_navi { position: absolute; top: 0; bottom: 0; margin: auto; width: auto; height: 120px; right: 100px; z-index: 1000; }

.language { float: right; height: 120px; letter-spacing:0; z-index: 90; font-family: 'Noto Sans KR', sans-serif; position: relative; }
.language>ul>li { float: left; position: relative; font-size: 12px; height: 30px; line-height: 32px; margin-top: 49.5px; color: #fff; font-weight: 500; transition: 0.8s; }
.language>ul>li>a { width: 100%; height: 100%; display: block; }
.language>ul>li:before { content:''; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; width: 1px; height: 10px; background-color: #fff; opacity: 1.3; transition: 0.3s; transform: translateY(1px); }
.language>ul>li:nth-child(1):before { display: none; }
/*.language>ul>li:nth-child(1) { width: 203px; height: 21px; margin-top: 81px; background: url(../img/common/tel2.png) center no-repeat; transition: 0.3s; }*/
/*.language:b  efore { content:''; position: absolute; left: -40px; top: 68px; width: 1px; height: 20px; background-color: #101f3a; opacity: 0.3; transition: 0.3s; }*/

.language>ul>li:nth-child(1) { width: 209px; height: 22px; background: url(../img/common/tel.png) center no-repeat; }

.navi.active21 .language>ul>li:nth-child(1) { background: url(../img/common/tel2.png) center no-repeat; }

/**/

.tel { position: absolute; top: 0; bottom: 0; margin: auto; right: calc(5.2% + 58px); width: 215px; height: 50px; display: flex; justify-content: flex-end; z-index: 999; font-family: 'Futura Std', sans-serif; color: #fff; }
.tel:after { content:''; width: 50px; height: 50px; position: absolute; right: 0; top: 0; border-radius: 50px; border: 1px solid #fff; box-sizing: border-box; background-color: #fff; z-index: -1; transition: 0.3s; }
.tel h2 { font-size: 18px; line-height: 52px; position: absolute; left: 55px; opacity: 0; transition: 0.3s; font-weight: 500; letter-spacing: 1px; }
.tel p { font-size: 12px; line-height: 50px; text-transform: uppercase; text-align: right; padding-right: 65px; letter-spacing: 0px; font-weight: 500; position: relative; z-index: 3; transition: 0.3s; }
.call { position: absolute; width: 50px; height: 50px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; background: url(../img/common/tel2.png) center no-repeat; transition: 0.3s; z-index: 9; }

.tel.active:after { background-color: transparent; width: 100%; }
.tel.active h2 { opacity: 1; left: 25px; }
.tel.active p { opacity: 0; }
.tel.active .call { background: url(../img/common/tel.png) center no-repeat; }

body.main .tel { color: #fff; }
body.main .tel:after { border: 1px solid #fff; background-color: #fff; }
body.main .tel.active:after { background-color: transparent; }
body.main .call { background: url(../img/common/tel2.png) center no-repeat; }
body.main .tel.active .call { background: url(../img/common/tel.png) center no-repeat; }

body.main .navi.black .tel { color: #000; }
body.main .navi.black .tel:after { border: 1px solid #000; background-color: #000; }
body.main .navi.black .tel.active:after { background-color: transparent; }
body.main .navi.black .call { background: url(../img/common/tel.png) center no-repeat; }
body.main .navi.black .tel.active .call { background: url(../img/common/tel2.png) center no-repeat; }

.navi.active .tel { color: #000; }
.navi.active .tel:after { border: 1px solid #000; background-color: #000; }
.navi.active .tel.active:after { background-color: transparent; }
.navi.active .call { background: url(../img/common/tel.png) center no-repeat; }
.navi.active .tel.active .call { background: url(../img/common/tel2.png) center no-repeat; }

.navi.wh .tel { color: #000; }
.navi.wh .tel:after { border: 1px solid #000; background-color: #000; }
.navi.wh .tel.active:after { background-color: transparent; }
.navi.wh .call { background: url(../img/common/tel.png) center no-repeat; }
.navi.wh .tel.active .call { background: url(../img/common/tel2.png) center no-repeat; }

/**/

.more { z-index: 9999999; position: fixed; right: 55px; bottom: 80px; width: 73px; height: 73px; transform: translateY(25px); }
body.main .more { animation: main_txt 1.0s 3.8s both; }

.more_bt { width: 100%; height: 100%; border-radius: 100%; background-color: #4f372b; border: 1px solid #4f372b; box-sizing: border-box; cursor: pointer; transition: 0.3s; }
.more_bt span { display: block; background: #fff; margin: auto; width: 25px; height: 2px; border-radius: 0px; transition: 0.25s; }
.more_bt .bar1 { margin-top: 26px; margin-bottom: 7px; }
.more_bt .bar2 { width: 14px; transform: translateX(5px); }
.more_bt .bar3 { margin-top: 7px; }

.more_bg { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) scale(1) rotate(0); animation: more_bg 6s 0s linear infinite; z-index: -1; transition: opacity 0.3s; }


@keyframes more_bg {
	from { transform: translate(-50%,-50%) scale(1) rotate(-180deg); }
	to {  }
}

.more:hover .more_bt .bar1 { transform: rotate(90deg); margin-top: 35px; }
.more:hover .more_bt .bar2 { opacity: 0; }
.more:hover .more_bt .bar3 { transform: rotate(0); margin-top: -11px; }


.more.active .more_bt { background: none; }
.more.active .more_bt span { height: 1px; background-color: #4f372b; }
.more.active .more_bt .bar1 { transform: rotate(45deg); margin-top: 35px; }
.more.active .more_bt .bar2 { opacity: 0; }
.more.active .more_bt .bar3 { transform: rotate(-45deg); margin-top: -9px; }
.more.active .more_bg { opacity: 0; }


.more.active .more_bt span { height: 1px; }
.more.active:hover .more_bt .bar1 { transform: rotate(45deg); margin-top: 35px; }
.more.active:hover .more_bt .bar2 { opacity: 0; }
.more.active:hover .more_bt .bar3 { transform: rotate(-45deg); margin-top: -9px; }



.more_box { position: absolute; left: 0; top: -130px; animation: more_box 0.4s 0s both; display: none; }
.more_box ul { width: 300%; }
.more_box ul li { height: 30px; margin-bottom: 10px; overflow: hidden; }
.more_box ul li div {  }
/*.more_box ul li div a { display: flex; justify-content: flex-start; align-items: center; }*/

.more_box ul li img { float: left; }
.more_box ul li p { float: left; font-size: 12px; line-height: 27px; padding-left: 10px; color: #4f372b; font-weight: 500; }


@keyframes more_box {
	from { transform: translateY(15px); opacity: 0; }
	to {  }
}

/**/

/* layout*/

.gnb_wrap { font-family: 'Noto Sans KR', sans-serif; position: fixed; top: 0; right: -100%; width:100%; max-width: 50%; height: 100%; z-index: 999999; overflow: scroll; transition: 0.8s; }
.gnb_wrap .gnb_top { position: relative; height: 100px; background:#fff; background-color: white; display: none; }
.gnb_wrap .gnb_top h1 { position: absolute; width: 130px; left: 0; right: 0; margin: auto; top: 0; bottom: 0; }
.gnb_wrap .gnb_top h1 img { width: 100%; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; }
.gnb_wrap .gnb_list { position: relative; width: 100%; height: 100%; background-color: #f3f3f3; overflow: scroll; text-transform: uppercase; display: flex; justify-content: center; align-items: center; }
.gnb_wrap .gnb_list .gnb_dep1 { padding: 18px 25px; margin:0px; display: block; font-size: 26px; font-weight: 400; text-align: center; display: flex; justify-content: center; align-items: center; }
.gnb_wrap .gnb_list .gnb_dep1 h6 { font-family: 'Noto Sans KR', sans-serif; font-size: 10.5px; line-height: 100%; margin-left: 10px; padding: 3px 9px; border-radius: 10px; text-transform: uppercase; background-color: #ff7200; color: #fff;
font-weight: 500; display: inline-block; }
.gnb_wrap .gnb_list .gnb_dep1 span { display: inline-block; position: relative; color: #4f372b; background-size: 24px 12px; font-weight: 500; letter-spacing: 0; }
.gnb_wrap .gnb_list .gnb_dep1 span:after { width: 0; height: 1px; position: absolute; content:''; left: 0; bottom: 4px; background-color: #4f372b; transition: 0.5s; }
.gnb_wrap .gnb_list .gnb_dep1:hover span:after { width: 100%; }
.gnb_wrap .gnb_li_list.on .gnb_dep1 span:after { width: 100%; }
.gnb_wrap .gnb_list .gnb_dep1 span b { font-family: 'Noto Sans KR', sans-serif; font-weight: 500; }
.gnb_wrap .gnb_list .gnb_dep2 { display: none; margin-bottom: 10px; margin-top: -0px; }
.gnb_wrap .gnb_list .gnb_dep2 li { background-color: #f1f1f1; color: #4f372b; text-align: center; }
.gnb_wrap .gnb_list .gnb_dep2 li a { display: block; padding: 7px 10px; font-size: 14px; font-weight: 500; letter-spacing: 1px; display: flex; justify-content: center; align-items: center; }
.gnb_wrap .gnb_list .gnb_dep2 li a h6 { font-family: 'Noto Sans KR', sans-serif; font-size: 10px; line-height: 100%; margin-left: 8px; padding: 3px 9px; border-radius: 10px; text-transform: uppercase; background-color: #ff7200; color: #fff;
font-weight: 500; display: inline-block; letter-spacing: -0px; transform: translateY(-1px); }
.gnb_wrap .gnb_list .gnb_dep2 li a span { position: relative; }
.gnb_wrap .gnb_list .gnb_dep2 span:after { width: 0; height: 1px; position: absolute; content:''; left: 0; bottom: -1px; background-color: #000; transition: 0.5s; }
.gnb_wrap .gnb_list .gnb_dep2 li a:hover span:after { width: 100%; }
.gnb_overlay { z-index: 999991; width: 100%; height: 100%; background: #000; opacity: 0.8; position: fixed; left: -100%; top: 0; transition: 0.6s 0.2s; }

.gnb_wrap.active { right: 0; transition: 0.6s 0.2s; }
.gnb_overlay.active { left: 0; transition: 0.8s 0s; }

/**/

.ham { z-index: 9999999; position: fixed; right: 5.2%; top: 35px; width: 50px; height: 50px; cursor: pointer; opacity: 1; border-radius: 100%; transition: 0.5s, top 0.6s; box-sizing: border-box; }
body.main .ham { animation: main_txt 1.0s 3.8s both; }
.ham:after { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; margin: auto; border-radius: 100%; border: 1px solid #fff; box-sizing: border-box; z-index: -1; transition: 0.3s; }
.ham span { display: block; background: #fff; margin: auto; width: 20px; height: 1px; border-radius: 0px; transition: 0.25s; }
.ham .bar1 { margin-top: 17px; margin-bottom: 6px; }
.ham .bar2 { width: 12px; transform: translateX(4px); }
.ham .bar3 { margin-top: 6px; }

.ham.active { transition: 0.5s, top 0.4s, right 0.5s 0.2s; right: 25px; }
.ham.active:after { background-color: #000 !important; border: 1px solid #000 !important; }
.ham.active span { background-color: #fff !important; }

.ham.active .bar1 { transform: rotate(45deg); margin-top: 24px; }
.ham.active .bar2 { opacity: 0; }
.ham.active .bar3 { transform: rotate(-45deg); margin-top: -8px; }

.ham.active2 { top: 25px; }
.ham.active2:after { background-color: none !important; border: 1px solid #000 !important; }
.ham.active2 span { background-color: #000; }
.ham.active3 { top: 35px; }
.ham.pop { top: 35px; }
.ham.active2.pop { top: 25px; }
.ham.active3.active2 { top: 25px; }

body.main .ham:after { border: 1px solid #fff; }
body.main .ham span { background: #fff; }

body.main .ham.black:after { border: 1px solid #000; }
body.main .ham.black span { background: #000; }
body.main .ham.black2:after { border: 1px solid #000; }
body.main .ham.black2 span { background: #000; }

.ham.black2:after { border: 1px solid #000; }
.ham.black2 span { background: #000; }


/**/


#sitemapContent{ 
	position:fixed; top:0; left:0; right:0; bottom:0; z-index:99999; opacity:0;filter:Alpha(opacity=0); visibility:hidden; z-index:-1;
	-webkit-transition:all 0.3s  0.5s;-moz-transition:all 0.3s  0.5s;-o-transition:all 0.3s  0.5s;-ms-transition:all 0.3s  0.5s; transition:all 0.3s  0.5s;
}
#sitemapContent.open{
	opacity:1.0;filter:Alpha(opacity=100); visibility:visible; z-index:99999; background-color: #fff;
	-webkit-transition:all 0.3s  0s;-moz-transition:all 0.3s 0s;-o-transition:all 0.3s 0s;-ms-transition:all 0.3s 0s;transition:all 0.3s 0s;
}
#sitemapInnerCon{ position:absolute; top:0; left:0; bottom:0; right:160px; background-color: #fff; border-right:1px solid #ddd; width: calc(100% - 100px); }
#sitemapContent .sitemap-bg-box{position:absolute; top:0px; left:0px; width:100%; height:100%; }
#sitemapContent .visual-intro-item{float:left; position:relative; width: 14.28%; height:100%;}
#sitemapContent .visual-intro-item:first-child{ width: 14.28%; }
#sitemapContent .visual-intro-item:before{
	position:absolute;  left:0; width:1px; height:100%; content:""; background-color:#ddd; z-index:1; 
}
#sitemapContent .visual-intro-item:nth-child(odd):before{bottom:0;}
#sitemapContent .visual-intro-item:nth-child(even):before{top:0;}
#sitemapContent.open .visual-intro-item:first-child:before{display:none}
#sitemapContent .visual-intro-item:after{	
	content:""; position:absolute; width:100%; height:100%; right:0; top:0px; background: #333; 
	-webkit-transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s;
	transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s 
}
#sitemapContent.open .visual-intro-item:before{height:100%;}
#sitemapContent.open .visual-intro-item:after {width:0;}
#sitemapContent.open .visual-intro-item {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1); transform-origin:right top; transition-property: transform;
}
#sitemapContent.close{opacity:0;filter:Alpha(opacity=0); visibility:hidden;}
#sitemapContent.close .visual-intro-item:before{height:0;}
#sitemapContent.close .visual-intro-item:after {width:100%;}

.sitemap-wrapper{height:100%; }
.sitemap-wrapper > ul{overflow:hidden; position:relative; z-index:1; height:100%;}
/* 16.65% 16.67% */
.sitemap-wrapper > ul > li{overflow:hidden; float:left; width: 14.28%; height:100%; transition: 0.3s; }
/*.sitemap-wrapper > ul > li:first-child{ width: 14.28%; }*/
.sitemap-wrapper > ul > li > h2{	overflow:hidden; color:#191919; font-size: 22px; font-weight: 400; }
.sitemap-wrapper > ul > li:hover > h2{ color:#010101; }
.sitemap-wrapper > ul > li .sitemap-2dep {}
.sitemap-wrapper > ul > li .sitemap-2dep a{
	overflow:hidden; position:relative; display:block;  padding:20px 15%; color:#000; font-size:16px; font-weight:400; line-height:1.2em; text-transform: uppercase; 
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper > ul > li .sitemap-2dep a b { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; }
.sitemap-wrapper > ul > li > h2 b { font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 16px; }
.sitemap-wrapper > ul > li .sitemap-2dep a span:before { content: '·'; margin-right: 3px; }

.sitemap-wrapper > ul > li .sitemap-2dep a:after{
	position:absolute; top:0; left:0; width:0; content:""; height:100%; background:#000;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper > ul > li .sitemap-2dep a span{position:relative; z-index:1;}
.sitemap-wrapper > ul > li .sitemap-2dep a .gnb-icon{display:none;}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover{color:#fff; }
.sitemap-wrapper > ul > li .sitemap-2dep a:hover:after{width:100%; -webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
/* ����Ʈ�� active */
.sitemap-wrapper > ul > li > h2 > span { margin:77px 15% 40px; }
.sitemap-wrapper > ul > li > h2 > span,
.sitemap-wrapper > ul > li .sitemap-2dep a span{
	display:block; opacity:0;filter:Alpha(opacity=50);
	-webkit-transform:translateX(-5%);
	transform:translateX(-50%);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s, opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s; 
}
.sitemap-wrapper.menu-open > ul > li > h2 > span,
.sitemap-wrapper.menu-open > ul > li .sitemap-2dep a span{
	opacity:1.0;filter:Alpha(opacity=100);
	-webkit-transform:translateX(0);
	transform:translateX(0);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04), opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04); 
}
.sitemap-wrapper > ul > li:hover { background-color: #f2f2f2; }

/**/



header.hide { opacity: 0; z-index: -100; transition: 0.6s; }
#logo.hide { opacity: 0; z-index: -100; transition: 0.6s; }




@media screen and (-webkit-min-device-pixel-ratio:0){ 
/*	.top_bt { font-family: 'gotham'; }*/
}


@media all and (max-width: 1400px) { 
	
	.navi { height: 100px; }
	.navi.active { height: 80px; }
	#logo { transform: scale(0.9); transform-origin: center left; left: 5.2% !important; }
	.navi.pop { top: 60px; }
	.gnb { display: none; }

	.banner_gd { width: 60px; display: none !important; }

	/**/

	.tel { width: 180px; height: 40px; right: calc(5.2% + 50px); }
	.tel:after { width: 40px; height: 40px; }
	.tel h2 { font-size: 16px; line-height: 40px; left: 55px; }
	.tel p { font-size: 12px; line-height: 40px; padding-right: 55px; }
	.call { width: 40px; height: 40px; }

	.tel.active h2 { opacity: 1; left: 20px; }

/**/
/* event
	.banner_wrap { height: 60px; top: -60px; display: flex !important; background: #291e1a; }
	.banner_wrap.mo { display: none; }
	.banner_wrap>div { width: 90%; max-width: revert; }

	.banner_wrap ul { justify-content: space-between; }
	.banner_wrap ul li h2 { font-size: 20px; padding-right: 15px; }

	.banner_close h6 { font-size: 10px; }
	.banner_close>div { width: 24px; height: 24px; margin-left: 10px; }
*/


	.banner_wrap { height: 60px; top: -60px; display: flex; background: #291e1a; }
	.banner_wrap>div { width: 90%; max-width: revert; }

	.banner_wrap ul { justify-content: space-between; }
	.banner_wrap ul li h2 { font-size: 20px; padding-right: 15px; }

	.banner_close h6 { font-size: 10px; }
	.banner_close>div { width: 24px; height: 24px; margin-left: 10px; }


/**/

	.main_scroll_box { width: 45px; height: 174px; left: 25px; transform: translateY(25px); }
	.main_scroll_box img { transform: scale(0.9); transform-origin: center; }
	.main_scroll_box>div { transition: 0.5s 0.5s; }
	.main_scroll { width: 11px; height: 70px; margin-top: 25px; }
	.main_scroll:after { content:''; width: 8px; height: 8px; bottom: 2px; }
	.scroll_circle { bottom: -22px; width: 45px; height: 45px; }

	.main_mouse { left: 35px; height: 200px; }
	.main_mouse>div { width: 23px; height: 40px; margin-top: 65px; }
	.main_mouse>div span { width: 5px; height: 5px; }
	.main_mouse>img { margin-top: 16px; }

/**/

	.more { position: fixed; left: 50px; bottom: 70px; width: 65px; height: 65px; transform: translateY(25px); }
	
	.more_bg { width: 100px; }

	.more_bt span { width: 23px; height: 2px; }
	.more_bt .bar1 { margin-top: 24px; margin-bottom: 6px; }
	.more_bt .bar2 { width: 13px; transform: translateX(5px); }
	.more_bt .bar3 { margin-top: 6px; }

	.more:hover .more_bt .bar1 { transform: rotate(0); margin-top: 24px; }
	.more:hover .more_bt .bar2 { opacity: 1; }
	.more:hover .more_bt .bar3 { transform: rotate(0); margin-top: 6px; }

	.more.active .more_bt span { height: 1px; background-color: #4f372b; }
	.more.active .more_bt .bar1 { transform: rotate(45deg); margin-top: 32px; }
	.more.active .more_bt .bar2 { opacity: 0; }
	.more.active .more_bt .bar3 { transform: rotate(-45deg); margin-top: -8px; }
	.more.active .more_bg { opacity: 0; }

	.more.active .more_bt span { height: 1px; } .more.active:hover .more_bt 
	.bar1 { transform: rotate(45deg); margin-top: 32px; } .more.active:hover 
	.more_bt .bar2 { opacity: 0; } .more.active:hover .more_bt .bar3 { 
	transform: rotate(-45deg); margin-top: -8px; }

	.more_box { top: -130px; }
	.more_box ul { width: 300%; }
	.more_box ul li { height: 30px; margin-bottom: 10px; }
	.more_box ul li p { font-size: 12px; line-height: 27px; padding-left: 10px; }

/**/

	.click_box { width: 63px; height: 63px; right: 4.5%; bottom: 45px; }
	.click_box:after { width: 150%; height: 150%; }
	.click_box p { font-size: 11px; }
	.click_box>div { left: -52px; top: -28px; }
	.click_box>div>h5 { font-size: 11px; line-height: 25px; }
	.click_box>div>img { width: 80px; }

	.click_box ul { width: 500%; left: -470%; }
	.click_box ul li { }
	.click_box ul li h5 { font-size: 11px; margin-right: 24px; }
	.click_box ul li img { width: 40px; margin-right: 10px; }


	@keyframes click_bg {
		0% { width: 150%; height: 150%; }
		10% { width: 150%; height: 150%; }
		50% { width: 100%; height: 100%; }
		90% { width: 150%; height: 150%; }
		100% { width: 150%; height: 150%; }
	}

/**/

	.gnb_wrap .gnb_list .gnb_dep1:hover span:after { width: 0; }
	.gnb_wrap .gnb_li_list.on .gnb_dep1 span:after { width: 100% !important; }
	.gnb_wrap .gnb_list .gnb_dep1 { padding: 14px 25px; font-size: 22px; }
	.gnb_wrap .gnb_list .gnb_dep1 h6 { font-size: 10px; margin-left: 10px; padding: 3px 8px; }
	.gnb_wrap .gnb_list .gnb_dep2 li a { padding: 7px 10px; font-size: 13px; }
	.gnb_wrap .gnb_list .gnb_dep2 li a h6 { font-size: 9px; margin-left: 8px; padding: 3px 7px; }

	.ham { right: 5.2%; top: 30px; width: 40px; height: 40px; }
	.ham span { width: 16px; height: 1px; }
	.ham .bar1 { margin-top: 13px; margin-bottom: 5px; }
	.ham .bar2 { width: 10px; transform: translateX(3px); }
	.ham .bar3 { margin-top: 5px; }

	.ham.active { top: 30px !important; right: 20px; }

	.ham.active .bar1 { margin-top: 19px; }
	.ham.active .bar3 { margin-top: -7px; }

	body.main .ham.active2 span { background-color: #000; }
	.ham.active2 span { background-color: #000; }

	.ham.active2 { top: 20px; }
	.ham.active3 { top: 30px; }
	.ham.pop { top: 90px; }
	.ham.pop.active2 { top: 80px; }
	.ham.active3.active2 { top: 20px; }

/**/

	#sitemapInnerCon{ width: calc(100% - 80px); }
	.sitemap-wrapper > ul > li > h2{	font-size: 20px; }
	.sitemap-wrapper > ul > li .sitemap-2dep a{ padding: 15px 15%; font-size: 14px; line-height: 1em; }

	.sitemap-wrapper > ul > li > h2 > span { margin: 50px 15% 30px; }	
	.sitemap-wrapper > ul > li > h2 b { font-size: 14px; }


}


@media all and (max-width: 800px) { 
	
	.navi { height: 70px; }
	.navi.active { height: 60px; }
	#logo { transform: scale(0.8); transform-origin: center; left: 0 !important; right: 0; margin: auto; }
	.navi.pop { top: 60px; }

	/**/

/*	.tel { width: 35px; height: 35px; right: calc(5.2% + 42px); }*/
	.tel { width: 35px; height: 35px; right: revert; left: 5.2%; }
	.tel:after { width: 35px; height: 35px; }
	.tel h2 { display: none; }
	.tel p { display: none; }
	.call { width: 35px; height: 35px; }

	.tel.active:after { background-color: #4f372b; width: 35px; }
	.tel.active .call { background: url(../img/common/tel.png) center no-repeat; }

/**/
/* event
	.banner_wrap { height: 114px; top: -114px; background: #c6c6c6; display: flex; }
	.banner_wrap.mo { display: flex; }
	.banner_wrap>div { width: 100%; max-width: revert; text-align: center; }
	
	.banner_wrap ul { justify-content: center; }
	.banner_wrap ul li h2 { font-size: 14px; padding-right: 8px; }
	.banner_wrap ul li img { width: 100%; max-width: 360px; margin-right: 0; }

	.banner_close h6 { font-size: 10px; display: none; }
	.banner_close>div { width: 20px; height: 20px; margin-left: 10px; }

	.banner_wrap.pc { z-index: 99998; }
	.banner_wrap.mo { z-index: 99999; }
*/
	.banner_wrap { height: 60px; top: -60px; background: #291e1a; display: flex; }
	.banner_wrap>div { width: 90%; max-width: revert; }
	
	.banner_wrap ul { justify-content: space-between; }
	.banner_wrap ul li h2 { font-size: 14px; padding-right: 8px; }

	.banner_close h6 { font-size: 10px; display: none; }
	.banner_close>div { width: 20px; height: 20px; margin-left: 10px; }


/**/

	.main_scroll_box { width: 33px; height: 128px; left: revert; right: 20px; top: revert; bottom: 140px; transform: translateY(0); }
	.main_scroll_box img { width: 9px; transform: scale(1); transform-origin: center; }
	.main_scroll { width: 11px; height: 50px; margin-top: 20px; }
	.main_scroll:after { content:''; width: 6px; height: 6px; bottom: 2px; }
	.scroll_circle { bottom: -22px; width: 33px; height: 33px; }

	.main_mouse { left: 0; right: 0; top: 340px; margin: auto; height: 32px; }
	.main_mouse>div { width: 19px; height: 32px; margin-top: 0px; }
	.main_mouse>div span { width: 5px; height: 5px; }
	.main_mouse>img { display: none; }

/**/

	.more { left: 30px; bottom: 30px; width: 56px; height: 56px; transform: translateY(0); }
	
	.more_bg { width: 82px; }

	.more_bt span { width: 20px; height: 2px; }
	.more_bt .bar1 { margin-top: 19px; margin-bottom: 5px; }
	.more_bt .bar2 { width: 12px; transform: translateX(4px); }
	.more_bt .bar3 { margin-top: 5px; }

	.more:hover .more_bt .bar1 { transform: rotate(0); margin-top: 19px; }
	.more:hover .more_bt .bar2 { opacity: 1; }
	.more:hover .more_bt .bar3 { transform: rotate(0); margin-top: 5px; }

	.more.active .more_bt .bar1 { transform: rotate(45deg); margin-top: 27px; }
	.more.active .more_bt .bar2 { opacity: 0; }
	.more.active .more_bt .bar3 { transform: rotate(-45deg); margin-top: -7px; }
	.more.active .more_bg { opacity: 0; }

	.more.active .more_bt span { height: 1px; }
	.more.active:hover .more_bt .bar1 { transform: rotate(45deg); margin-top: 27px; }
	.more.active:hover .more_bt .bar2 { opacity: 0; }
	.more.active:hover .more_bt .bar3 { transform: rotate(-45deg); margin-top: -7px; }

	.more_box { top: -115px; }
	.more_box ul { width: 300%; }
	.more_box ul li { height: 26px; margin-bottom: 10px; }
	.more_box ul li img { transform: scale(0.85); transform-origin: top left; }
	.more_box ul li p { font-size: 11px; line-height: 23px; padding-left: 5px; }

/**/

	.click_box { width: 50px; height: 50px; right: 5.5%; bottom: 25px; }
	.click_box:after { width: 150%; height: 150%; }
	.click_box p { font-size: 10px; }
	.click_box>div { left: -47px; top: -24px; }
	.click_box>div>h5 { font-size: 10px; line-height: 23px; }
	.click_box>div>img { width: 70px; }

	.click_box ul { width: 520%; left: -500%; }
	.click_box ul li { }
	.click_box ul li h5 { font-size: 10px; margin-right: 15px; }
	.click_box ul li img { width: 35px; margin-right: 8px; }


	@keyframes click_bg {
		0% { width: 150%; height: 150%; }
		10% { width: 150%; height: 150%; }
		50% { width: 100%; height: 100%; }
		90% { width: 150%; height: 150%; }
		100% { width: 150%; height: 150%; }
	}

/**/

	.gnb_wrap { max-width: 100%; }
	.gnb_wrap .gnb_list .gnb_dep1 { padding: 11px 25px; font-size: 19px; }
	.gnb_wrap .gnb_list .gnb_dep1 h6 { font-size: 9px; margin-left: 8px; padding: 2px 7px; }
	.gnb_wrap .gnb_list .gnb_dep2 li a { padding: 6px 10px; font-size: 12px; }
	.gnb_wrap .gnb_list .gnb_dep2 li a h6 { font-size: 8px; margin-left: 6px; padding: 2px 6px; }

	.ham { right: 5.2%; top: 18px; width: 35px; height: 35px; }
	.ham span { width: 15px; height: 1px; }
	.ham .bar1 { margin-top: 11px; margin-bottom: 5px; }
	.ham .bar2 { width: 10px; transform: translateX(2px); }
	.ham .bar3 { margin-top: 5px; }

	.ham.active { top: 18px !important; right: 11px; }

	.ham.active .bar1 { margin-top: 17px; }
	.ham.active .bar3 { margin-top: -7px; }

	.ham.active2 { top: 13px; }
	.ham.active3 { top: 18px; }
	.ham.pop { top: 78px; }
	.ham.active3.active2 { top: 13px; }
	.ham.pop.active2 { top: 73px; }
/*	.ham.pop { top: 132px; }*/

/**/

	#sitemapInnerCon{ width: calc(100% - 57px); }
	.sitemap-wrapper { overflow: scroll; }
	.sitemap-wrapper > ul { display: flex; justify-content: flex-start; flex-wrap: wrap; height: 120%; }
	.sitemap-wrapper > ul > li { float: none; width: 50%; height: auto; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
	.sitemap-wrapper > ul > li:nth-child(2n) { border-right: none; }
	.sitemap-wrapper > ul > li:nth-child(n+7) { border-bottom: none; }
	.sitemap-wrapper > ul > li > h2 { font-size: 17px; }
	.sitemap-wrapper > ul > li > h2 span { margin: 15% 15% 10px; }
	.sitemap-wrapper > ul > li .sitemap-2dep a{ padding: 7px 15%; font-size: 11px; line-height: 1em; }
	.sitemap-bg-box { display: none; }

	.sitemap-wrapper > ul > li > h2 > span { margin: 17% 17% 10px; }
	.sitemap-wrapper > ul > li > h2 b { font-size: 12px; }

}